fieldset {
    width:400px;
    margin: auto;
    margin-bottom: .5em;
    padding-left: 1em;
}
a {
    text-decoration: none;
    margin-left: 735px;
    border: 1px solid blue;
    background-color: lightgray;
    padding: 2px;
    color: #000;
}